.address-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.main-container {
    
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}