/* SignIn.css */
.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
  }

  /* CircularLockIcon.css */
.circular-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px; /* Set the desired size of the circle */
    height: 30px; /* Set the desired size of the circle */
    background-color: red;
    border-radius: 50%;
  }
  
  .lock-icon {
    color: white; /* Set the desired color for the lock icon *//* Set the desired size for the lock icon */
  }
  .centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .error-message{
    color: red;
  }
  /* .signin-fields-container{
    width: '400px';
  } */
  /* Add any additional styles for the sign-in page as needed */
  