.addProduct-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}
 
.circular-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px; 
    height: 30px; 
    background-color: red;
    border-radius: 50%;
    margin-top: 50px;
  }
  
  .lock-icon {
    color: white; 
  }
  .centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .error-message{
    color: red;
  }
  .signin-link{
    padding-top: 20px;
    margin-left: 15rem;
  }
 