.modifyProduct-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .error-message{
    color: red;
  }
